<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=equipment.type%></title>
</head>
<body>
    <h2><%=equipment.name%></h2>
    <h4><%=equipment.set%></h4>
    <h4><%=equipment.brand%></h4>
    <p><%=equipment.contact%></p>
</body>
</html>