<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=event.name%></title>
</head>
<body>
    <h2><%=event.name%></h2>
    <h4><%=event.date%></h4>
    <h4><%=event.attendeeno%></h4>
    <p><%=event.report%></p>
</body>
</html>