<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=member.first_name%>
    </title>
</head>

<body>
    <h4>Roll No:
        <%=member.roll_no%>
    </h4>
    <h4>Name:
        <%=member.first_name%>
            <%=member.last_name%>
    </h4>
    <h4>Instrument:
        <%=member.instrument%>
    </h4>
    <a href="/members/edit/<%=member.roll_no%>">
        <h4>Edit</h4>
    </a>
    <a href="/members/delete/<%=member.roll_no%>">
        <h4>Delete</h4>
    </a>
</body>

</html>